body{
    background-color: pink;
}
h1, h2,
  .P {
    text-align: center;
}
h1{
  margin-top: -10px;
    font-size: 50px;
    text-decoration: underline;
}
.P,h2{
  margin-top: -20px;
}
.img2,
  .img3{

    position: absolute;
    top: 5px;
  }
.img2{
    width: 100px;
    height: 100px;
    left: 0px;
}
.img3{
    width: 100px;
    height: 100px;
    right: 5px;
}
.titre{
    text-decoration: underline;
}

.img1{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    gap: 10px;
    border-radius: 10%;
    width: 150px;
    height: 160px;
    
}