body{
    background-color: azure;
}
h1, h2,
  .P {
    text-align: center;
}
h1{
  margin-top: -10px;
    font-size: 40px;
    text-decoration: underline;
}
.P,h2{
  margin-top: -20px;
}
.img2,
  .img3{

    position: absolute;
    top: 5px;
  }
.img2{
    width: 100px;
    height: 100px;
    left: 0px;
}
.img3{
    width: 100px;
    height: 100px;
    right: 5px;
}
.titre{
    text-decoration: underline;
}
